@font-face {
    font-family: 'Heyhaters';
    src: url(../Fonts/HeyHaters-GOY5g.ttf);
}
@font-face {
    font-family: 'OrganicTeabags';
    src: url(../Fonts/OrganicTeabags-69zM.ttf);
}
@font-face {
    font-family: 'Organica90';
    src: url(../Fonts/Organica90.ttf);
}
@font-face {
    font-family: 'Forque';
    src: url(../Fonts/Forque-M3An.ttf);
  }
@font-face {
    font-family: 'Theater';
    src: url(../Fonts/TheaterbrilliondemoRegular-PKA3r.otf);
}